{% extends 'base.html.twig' %}

{% block main %}

    <form method="get">
        <div>
            <input type="text" id="projet" class="projet">
            <label for="projet">Nom du projet</label>
        </div>
        <div>
            <select id="destinataire"></select>
        </div>


    </form>
{{form_start(form) }}

{#    <div>#}
{#        {{ form_label(form.projet, 'Projet', {'label_attr':{'class':'form-label'}}) }}#}
{#        {{ form_widget(form.categorie, {'attr': {'class': 'form-liste-categorie-widget'}}) }}#}
{#    </div>#}
<div>
    {{ form_label(form.categorie, 'Projet ', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.categorie, {'attr': {'class': 'form-liste-categorie-widget'}}) }}
</div>
<div>
    {{ form_label(form.destinataire, 'Destinataire ', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.destinataire, {'attr': {'class': 'form-liste-destinataire-widget'}}) }}
</div>
<div>
    {{ form_label(form.titre, 'Titre', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.titre, {'attr': {'class': 'form-liste-titre-widget'}}) }}
</div>
<div>
    {{ form_label(form.message, 'Message', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.message, {'attr': {'class': 'form-liste-message-widget'}}) }}
</div>
<div>
    {{ form_label(form.date, 'date', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.date, {'attr': {'class': 'form-liste-date-widget'}}) }}
</div>

{{form_end(form) }}


{% endblock %}