{% extends'base.html.twig' %}

{% block main %}
    <section id="listes_recues">
    <h2>Mes listes recues</h2>

    <div class="tableau">
        <table>
            <tr>
                <th type hidden>ID</th>
                <th>Expéditeur</th>
                <th>Titre</th>
                <th>Pour le</th>
                <th>Statut</th>
                <th>Message</th>
                <th>Voir la liste</th>
            </tr>
            {% for liste in listes %}
            <tr>
                <td type hidden>{{ liste.id }}</td>
                <td>{{ liste.expediteur.prenom ~' '~ liste.expediteur.nom }}</td>
                <td>{{ liste.titre }}</td>
                <td>{{ liste.date|date('d/m/Y') }}</td>
                <td>{{ liste.statut }}</td>
                <td>{{ liste.message }}</td>
                <td><a href="{{ path('update_liste', {'id':liste.id}) }}">Voir la liste</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </section>
    <section id="listes_envoyées">
        <h2>Mes listes envoyées</h2>

        <div class="tableau">
            <table>
                <tr>
                    <th type hidden>ID</th>
                    <th>Destinataire</th>
                    <th>Titre</th>
                    <th>Pour le</th>
                    <th>Statut</th>
                    <th>Message</th>
                    <th>Editer la liste</th>
                    <th>Supprimer la liste</th>
                </tr>
            {% for listesend in listesends %}
                <tr>
                    <td type hidden>{{ listesend.id }}</td>
                    <td>{{ listesend.destinataire.prenom~' '~ listesend.destinataire.nom}}</td>
                    <td>{{ listesend.titre }}</td>
                    <td>{{ listesend.date|date('d/m/Y') }}</td>
                    <td>{{ listesend.statut }}</td>
                    <td>{{ listesend.message }}</td>
                    <td><a href="{{ path('admin_update', {'id':listesend.id}) }}">Editer </a></td>
                    <td><a href="{{ path('delete_liste', {'id':listesend.id}) }}">Supprimer </a></td>

                </tr>
            {% endfor %}
            </table>
        </div>

</section>




{% endblock %}